<% unless comment.archived?%>
    <div class = "container">
        <p class = "d-flex justify-content-start">
            <strong>Commenter:&nbsp;</strong>
            <%= comment.commenter %>
        </p>

        <p class = "d-flex justify-content-start">
            <strong>Comment:&nbsp;</strong> 
            <%= comment.body %>
        </p>
    </div>
<% end %>
