<% unless comment.archived?%>
    <div class = "container">
        <p class = "d-flex justify-content-start">
            <strong>Commenter:&nbsp;</strong>
            <%= comment.commenter %>
        </p>

        <p class = "d-flex justify-content-start">
            <strong>Comment:&nbsp;</strong> 
            <%= comment.body %>
        </p>
        <p>
            <%= link_to "Destroy Comment", comment, data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                        } %>
        </p> 
    </div>
<% end %>
