<h1>Posts</h1>
<body>
    <img src="https://cataas.com/cat" width="600" height="300">
    <div>
    
    Total articles: <%=Post.public_count%> 
    
    <%=link_to "Create new post", new_post_path%>
    </div>
    <ul> 
        <%@posts.each do |post|%>
            <% unless post.archived?%>
            <li>
                <%= link_to post.title, post%>
            </li>
            <h2><%=post.body%></h2>
            <%@posts.each%>
            <%end%>
        <%end%>
    </ul>
</body>
    


