
<body>
    <div class="container">
        <div class = "row h-100 d-flex align-items-center justify-content-center" >
            <img src="https://cataas.com/cat" width=auto height="300">
            <div>
                Total posts: <%=Post.public_count%>
                <% if user_signed_in?%> 
                    <%=link_to "Create new post", new_post_path, class: "btn btn-outline-success my-2 my-sm-0"%>
                <%end%>
            </div>
        </div>
        <div class = "row h-100 d-flex align-items-center justify-content-center" >
            <%=render partial: "posts/center"%>
        </div> 
    </div>
</body>
    


